table {
    border-collapse: collapse !important;
    margin : 15px 15px;
    width: 50%;
}

th{
    color: black;
    padding: 10px 10px;
}

tr{
    background-color: white;
}

th:nth-child(1){
    border-radius: 0.2vw 0 0 0.2vw;
}
th:nth-child(3){
    border-radius: 0 0.2vw 0.2vw 0;
}

td:nth-child(1){
    border-radius: 0.2vw 0 0 0.2vw;
}
td:nth-child(3){
    border-radius: 0 0.2vw 0.2vw 0;
}

td{
    padding: 1vw;
}

.espace
{
 height : 10px;
 opacity: 0;
}
.MuiButton-root-100 {
    width: 100%;
}

.MuiButton-root-47 {
    width: 48%;
    margin: 2% 1% !important;
}

.suppr-img {
    width: 2vw;
}
@media screen and (max-width: 680px) {
    table{
        width: 95%;
    }
    td{
        padding: 2vw;
    }
  }
