#container-formcontrol{
    height: 100%;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    padding: 10px;
}

#heure-reservation, #numTable-select{
    box-shadow: grey 1px 5px 5px;
}

@media screen and (max-width: 680px) {
    #container-formcontrol{
        width: 80%;
    }
  }