
.container-cuisine {
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items:center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
#container-cuisine-2 {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
#cuisine-title{
    color:white;
    border-bottom: 1px solid;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 0 0;
}

@media screen and (min-width: 680px) {
  }