.text{
    font-size: 4vw;
    color: rgb(112, 42, 112);
    margin-left : 15%;
}
.wrapper1{
    width: 35%;
    height: 16%;
}
.wrapper2{
    width: 100%;
    background-color: white;
    height: 100%;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
}
.image {
    margin-left: 8vw;
    width: 10vw;
    margin-top: -5vh;
    background-color: rgb(54, 23, 54);
    border-radius: 9px;
    padding: 3% 3%;
    color: white;
}