.text-home{
    font-size: 28px;
    color: rgb(112, 42, 112);
}
.number{
    font-size: 50px;
    color: black;
    margin-top:25px
}

.card-home{
    display: flex;
    flex-direction: column;
    padding: 6vw;
    margin-top: 10vw;
    width: 55%;
    background-color: white;
    height: 250px;
    border-radius: 9px;
}
#clockRes {
    position: relative;
    top: -50px;
    margin-left: 10%;
    width: 30%;
    margin-top: -5%;
    background-color: #521767;
    border-radius: 9px;
    padding: 3% 3%;
    color: white;
}

.thumbs-wrapper, .carousel-status{
    display: none;
}

.carousel *{
    box-sizing: unset !important;
  }

  li .slide, .selected{
    height: 45vh;
  }

li{
    display: flex;
    align-items: center;
}

ul{
    padding-inline-start: 40px;
}

@media (min-width: 680px) { 

    .card-home{
        padding: 3vw;
        margin-top: 5vw;
        height: 400px;
    }
    .number{
       margin-bottom: 10px;
    }

 }