.text{
    font-size: 4vw;
    color: rgb(112, 42, 112);
    text-align: center;
}

.wrapper-cc-1{
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 9px;
    margin-bottom: 10vw;
}
.container-cc-1{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}
.image {
    width: 12vw;
    border-radius: 9px;
    padding: 3% 3%;
    color: white;
}

@media screen and (min-width: 680px) {
    .container-cc-1{

        height: 100%;
    }
    .image {
        width: 50%;
    }
    .text{
        font-size: 30px;
    }
    .wrapper-cc-1{
        width: 200px;
        height: 200px;
        margin-bottom: 0;
        padding: 20px;
    }
}